/*Global*/

body {
    display: flex;
    flex-flow: column nowrap;
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: 400;
}


/*Header*/

.main-header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;

}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 15px 15%;
}

.header-logo {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    color: #e5e7eb;;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 12px;

}

.link {
    display: flex;
}

/*Sub-header*/

.sub-header{
    display: flex;
    flex-flow: row nowrap;
    padding: 120px 15%;
    justify-content: space-between;
    gap: 16px;
}

.sub-header-left {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    justify-content: flex-start;
    align-content: center;
    gap: 16px;
}

.sub-header-title {
    display: flex;
    color: #e5e7eb;
    font-size: 48px;
}

.sub-header-text{
    display: flex;
    color: #f9faf8;
}

.sub-header-button {
    display: flex;
    border: none;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    flex: 1;
}

img {
    /* padding-top: 56.25%;  old padding format for aspect ratio 16 / 9 */
    align-self: center;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
}

/*Content box*/

/*Quote box*/

/*Sign-up box*/

.sign-up-button {
    border: white;
}

/*Footer*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 32px;
}